[submodule ".vim/pack/lexima.vim"]
	path = .vim/pack/lexima.vim
	url = git@github.com:cohama/lexima.vim.git
[submodule ".vim/pack/resident/start/lexima.vim"]
	path = .vim/pack/resident/start/lexima.vim
	url = git@github.com:cohama/lexima.vim.git
[submodule ".vim/pack/resident/start/vim-cheatsheet"]
	path = .vim/pack/resident/start/vim-cheatsheet
	url = git@github.com:reireias/vim-cheatsheet.git
[submodule ".vim/pack/resident/start/winresizer"]
	path = .vim/pack/resident/start/winresizer
	url = git@github.com:simeji/winresizer.git
[submodule ".vim/pack/resident/start/vim-airline"]
	path = .vim/pack/resident/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/resident/start/vim-airline-themes"]
	path = .vim/pack/resident/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/pack/resident/start/vim-devicons"]
	path = .vim/pack/resident/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule ".vim/pack/resident/start/vim-fugitive"]
	path = .vim/pack/resident/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/resident/start/vim-highlightedyank"]
	path = .vim/pack/resident/start/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank.git
[submodule ".vim/pack/resident/start/ale"]
	path = .vim/pack/resident/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/resident/start/vim-commentary"]
	path = .vim/pack/resident/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/resident/start/nerdtree"]
	path = .vim/pack/resident/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/resident/start/vim-surround"]
	path = .vim/pack/resident/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/resident/start/vim-polyglot"]
	path = .vim/pack/resident/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/pack/resident/start/markdown-preview.nvim"]
	path = .vim/pack/resident/start/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
[submodule ".vim/pack/resident/start/vim-gitgutter"]
	path = .vim/pack/resident/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
